.form-control, #signin{
    width: 50vw;
    margin: 10px auto;
}

.form-signin{
    margin-bottom: 20px;
}

.form-signin-heading{
    color: white;
    margin: 20px auto;
    text-shadow: 0 2px 6px rgba(0,0,0,.9);
    font-family: 'Montserrat', sans-serif;
}