.footer {
    background-color: transparent !important;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* border-top: 1px solid white; */
}

.nav-link {
    color: white;
}