.navbar {
    background-color: #525067;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);

}

.navbar-brand {
    color: #FFEEDB;
}

.btn {
    background-color: #3d6387;
    border-style: none;
    margin: 0 10px;
    color: #FFEEDB;
    box-shadow: 0 14px 28px rgba(0,0,0,.25);
}