.logo {
    max-width: 300px;
}

.navbar-brand {
    color: #FFEEDB;
}

.btn {
    background-color: #bf2470;
    border: 1px solid transparent;
    margin: 0 10px;
    color: #FFEEDB;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus {
    background-color: #f0308d;
    border: 1px solid transparent;
    color: #FFEEDB;
}

.signUp {
    border: 1px solid white;
    background-color: transparent;
}